

<!-- ================= FOOTER ================= -->
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Solutions</h3>
            <ul>
                <li><a href="{{ url_for('developer.sandbox') }}">Identity & APIs</a></li>
                <li><a href="{{ url_for('ai.ai_home') }}">Enterprise AI</a></li>
                <li><a href="{{ url_for('solutions.index') }}">Full-Stack Development</a></li>
                <li><a href="{{ url_for('solutions.index') }}">Managed IT</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Company</h3>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/team">Leadership Team</a></li>
                <li><a href="/portfolio">Case Studies</a></li>
                <li><a href="/careers">Careers</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Resources</h3>
            <ul>
                <li><a href="{{ url_for('developer.sandbox') }}">API Documentation</a></li>
                <li><a href="{{ url_for('solution_finder.solution_finder_page') }}">Solution Finder</a></li>
                <li><a href="/support">Support Center</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Contact</h3>
            <ul>
                <li><a href="mailto:info@daybreakafrika.com">info@daybreakafrika.com</a></li>
                <li><a href="tel:+234">+234 805 8079 900</a></li>
                <!--li><a href="tel:+43">+43 677 6484 8414</a></li>
                <li>Lagos, Nigeria | Vienna, Austria</li-->
                <li>Lagos, Nigeria </li>
            </ul>
        </div>
    </div>

    <div class="copyright text-center small">
        <p> <p>&copy; {{ moment().format('YYYY') }}  Daybreak Afrika Technologies. All rights reserved.</p>
    </div>
</footer>